.body {
  background-color: $background-onyx;
}

.backgroundBottomGradient {
  position: absolute;
  pointer-events: none;
  max-width: 80dvw;
  max-height: 35dvh;
  left: 10%;
  bottom: 0;
}

.backgroundTopGradient {
  position: absolute;
  pointer-events: none;
  max-width: 40dvw;
  max-height: 40dvh;
  top: 0;
  left: 0;
}

